header, body, h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    font-family: Garamond;
}

h1 {
  text-align: center;
  font-size: 80px;
  font-family: Garamond;
}

body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

body h1 {
  margin: 50px;
}

p {
  text-align: center;
  font-size: 40px;
}

.activePage {
  background-color: #ACCFCC;
}

article div {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
}

.bioPic {
  width: 145px;
  border-radius: 100px;
  text-align: center;
  margin:40px;
  border: solid black 4px;
}

article div p {
  font-size: 24px;
  font-family: Garamond;
}

#navBar {
  width: auto;
  background: black;
  padding: 20px;
}

#navBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  display: block;
  zoom: 1;
  text-align: center;
}

#navBar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#navBar ul li a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: Garamond, Baskerville, serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.1em;
  position: relative;
}
